<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>


        <main>
            <div>
                    <article>
                            <h2>
                                <%= vehicle.name %> - <%= vehicle.inStock ? "Yes" : "No" %>
                            </h2>
                            <h3> <%= vehicle.color %> </h3>
                            <a href="/vehicles/<%= vehicle._id %>/edit">
                               <button>Edit</button>
                            </a>
                            <form action="/vehicles/<%= vehicle._id %>?_method=DELETE" method="POST">
                                <input type="submit" value="Delete" />
                            </form>
                            <a href="/vehicles/"> 
                                <button>Back</button>
                            </a>
                    </article>

            </div>
        </main>
    </body>
</html>